body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
}
h1 p {
  margin: 0;
}
/* * {
  outline: 1px solid red;
} */
